/**
 * @file
 * Grid system definition for the content wide layout.
 */

@import "../base/media-queries.pcss.css";

.layout--content-medium,
.layout--pass--content-medium > * {
  grid-column: 2 / 6;
  width: 100%;

  @media (--grid-md) {
    grid-column: 2 / 14;
  }

  @media (--lg) {
    grid-column: 2 / 14;
  }
}

.layout--pass--content-medium #block-taranto-viva-content {

  grid-column: 1 / 16;
  width: 100%;

  @media (--grid-md) {
    grid-column: 1 / 16;
  }

  @media (--lg) {
    grid-column: 1 / 16;
  }
}

/*
  If .layout--content-medium is nested within itself, or an element that's inheriting the
  layout--content-medium styles from its parent region, go full width within its
  parent .grid-full.
*/
.layout--pass--content-medium > *,
.layout--content-medium {
  & .layout--content-medium,
  & .layout--pass--content-medium > * {
    @media (--grid-md) {
      grid-column: 1 / 13;
    }

    @media (--lg) {
      grid-column: 1 / 11;
    }
  }
}
