{#
/**
 * @file
 * Overriding views-view-unformatted theme implementation for the
 * --geoimages_list--attachment_dates view
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
{#  We add here the number of rows in the h3 title #}
  <h3>{{ title }} ({{ rows|length }})</h3>
{% endif %}

