/* line 1, ../sass/common.scss */
.views-ui-display-tab-setting.overridden,
.views-ui-display-tab-bucket.overridden {
  font-style: italic;
  color: red !important;
  font-weight: bold;
}

/* line 8, ../sass/common.scss */
.paragraphs-subform .field-group-details.geometry-attributes .details-wrapper {
  display: flex;
  justify-content: space-around;
}

/* line 13, ../sass/common.scss */
a, a.link {
  border-bottom: none;
}

/*
.node .field--type-image {
  float: none !important;
  .field__item {
    display: inline-block;
  }
}
*/
/* line 27, ../sass/common.scss */
#views-form-media-media-page-list .views-field-thumbnail__target-id {
  max-width: 60px;
}

/* line 32, ../sass/common.scss */
.node--view-mode-leaflet-popup .field--name-geoimage-caption {
  padding-left: 0.5rem !important;
  font-size: 0.8rem;
  opacity: 70%;
  line-height: 1.2rem;
}
/* line 38, ../sass/common.scss */
.node--view-mode-leaflet-popup .field:not(:last-child) {
  margin-bottom: 0.4rem !important;
}
/* line 41, ../sass/common.scss */
.node--view-mode-leaflet-popup .node__content {
  padding-bottom: 0.5rem !important;
}

/* line 46, ../sass/common.scss */
.user-profile-section .block-layout-builder {
  margin-bottom: 10px;
}
/* line 48, ../sass/common.scss */
.user-profile-section .block-layout-builder.block-field-blockuseruseruser-picture {
  margin-bottom: 20px;
}

/* line 53, ../sass/common.scss */
.block-layout-builder {
  margin-bottom: 20px;
}
/* line 55, ../sass/common.scss */
.block-layout-builder.node-title {
  font-size: 2.6rem;
  font-weight: bold;
  margin: 20px 0;
  line-height: 3rem;
}

/* line 67, ../sass/common.scss */
.views-field.views-field-field-image .field--type-image:not(:last-child),
.views-field.views-field-field-geoimage .field--type-image:not(:last-child),
.field--name-field-media-image .field--type-image:not(:last-child) {
  margin-bottom: 0.4rem;
}
/* line 70, ../sass/common.scss */
.views-field.views-field-field-image .text-content.field--name-field-image-caption,
.views-field.views-field-field-geoimage .text-content.field--name-field-image-caption,
.field--name-field-media-image .text-content.field--name-field-image-caption {
  font-size: 0.9rem;
  color: slategray;
}

/* line 77, ../sass/common.scss */
.media--type-image .wide-image.field--type-image {
  margin-left: unset;
}

/* line 82, ../sass/common.scss */
.view > * {
  margin-bottom: 1rem !important;
}

/* line 86, ../sass/common.scss */
.view > .view-header {
  margin-bottom: 0.5rem !important;
}

/* line 91, ../sass/common.scss */
.view-content-media-images .field-content .media {
  margin-bottom: 20px;
}

/* line 97, ../sass/common.scss */
.view.view-geo-places.view-id-geo_places.view-display-id-page_geoplaces_grid header {
  height: 100px;
}
/* line 99, ../sass/common.scss */
.view.view-geo-places.view-id-geo_places.view-display-id-page_geoplaces_grid header h2 {
  font-size: 1.4rem;
}
/* line 103, ../sass/common.scss */
.view.view-geo-places.view-id-geo_places.view-display-id-page_geoplaces_grid .paragraph--type--location.paragraph--view-mode--leaflet-popup {
  height: 40px;
}
/* line 106, ../sass/common.scss */
.view.view-geo-places.view-id-geo_places.view-display-id-page_geoplaces_grid .field--name-field-image-caption {
  font-size: 0.7rem;
}
