@media all and (min-width: 851px) {
  /* line 2, ../sass/common.scss */
  .layout-container {
    max-width: 90% !important;
  }
}
/* line 7, ../sass/common.scss */
.views-ui-display-tab-setting.overridden,
.views-ui-display-tab-bucket.overridden {
  font-style: italic;
  color: red !important;
  font-weight: bold;
}

/* line 14, ../sass/common.scss */
.paragraphs-subform .field-group-details.geometry-attributes .details-wrapper {
  display: flex;
  justify-content: space-around;
}

/* line 19, ../sass/common.scss */
a, a.link {
  border-bottom: none;
}

/*
.node .field--type-image {
  float: none !important;
  .field__item {
    display: inline-block;
  }
}
*/
