/* line 2, ../sass/leaflet_map_interactions.scss */
#leaflet-map-view-geo-media-images-page-geoimages-map .leaflet-popup-content {
  width: 600px !important;
  margin: 1px;
}

/* line 8, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper {
  border-radius: 1px;
  padding: 0;
}
/* line 11, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content {
  width: auto !important;
  margin: 0;
  position: relative;
  /* Overrides the Olivero olivero_tarantoviva/css/components/text-content.css */
}
/* line 16, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node__content {
  font-size: 0.8rem;
}
/* line 19, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .field--type-image {
  float: none;
  margin: 0;
}
/* line 23, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage {
  width: 600px !important;
  margin: 0;
}
/* line 26, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage .node__content {
  margin: 0;
}
/* line 29, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage .node__title {
  display: none;
}
/* line 33, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoplace, .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-event {
  margin: 12px 8px 0;
}
/* line 35, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoplace img, .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-event img {
  max-width: 300px !important;
}
/* line 39, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node--type-territorial-report {
  margin: 12px 8px 0;
}
/* line 41, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node--type-territorial-report img {
  max-width: 400px !important;
}
/* line 45, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .field--type-image img, .leaflet-popup-content-wrapper .leaflet-popup-content .field--name-user-picture img {
  margin: 0;
}
/* line 48, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content h2 {
  font-size: 1.4em;
  margin: 0.5em 20px 0.5em 0;
  line-height: 1.5rem;
  font-weight: normal;
  padding-top: 6px;
}
/* line 55, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content h3 {
  font-size: 1.2em;
  margin: 0.5em 20px 0.5em 0;
  line-height: 1.4rem;
  font-weight: normal;
}
/* line 61, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content div {
  margin-bottom: 6px;
}
/* line 64, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content div:last-child {
  margin-bottom: 0;
}
/* line 68, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .text-content,
.leaflet-popup-content-wrapper .leaflet-popup-content .cke_editable {
  font-size: 0.8rem !important;
  line-height: 1.3rem !important;
}
@media only screen and (max-width: 992px) {
  /* line 11, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content {
    min-width: 80px;
    max-width: 400px;
  }
  /* line 77, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .field--type-text-with-summary, .leaflet-popup-content-wrapper .leaflet-popup-content .field--name-body {
    display: none;
  }
  /* line 80, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content h2 {
    font-size: 1.2em;
  }
  /* line 84, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage {
    width: 400px !important;
  }
  /* line 86, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage .node__content {
    margin: 0;
  }
  /* line 89, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage .node__title {
    display: none;
  }
  /* line 93, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoplace, .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-event {
    margin: 8px;
  }
  /* line 95, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoplace img, .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-event img {
    max-width: 300px !important;
  }
  /* line 100, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-territorial-report img {
    max-width: 340px !important;
  }
}
@media only screen and (max-width: 500px) {
  /* line 107, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage {
    max-width: 360px !important;
    margin: 0;
  }
  /* line 112, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoplace img, .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-event img {
    max-width: 220px !important;
  }
  /* line 117, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-territorial-report img {
    max-width: 300px !important;
  }
}
@media only screen and (max-width: 380px) {
  /* line 124, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage {
    width: 300px !important;
  }
  /* line 128, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoplace img, .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-event img {
    max-width: 200px !important;
  }
  /* line 133, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-territorial-report img {
    max-width: 300px !important;
  }
}

/* line 144, ../sass/leaflet_map_interactions.scss */
.leaflet-container a.leaflet-popup-close-button {
  top: 12px;
}

/* line 149, ../sass/leaflet_map_interactions.scss */
.leaflet-control-geocoder-container input {
  font-size: 1rem;
}

/* line 155, ../sass/leaflet_map_interactions.scss */
.leaflet-pane .leaflet-marker-icon.up-to-the-top {
  z-index: 1000 !important;
}
/* line 158, ../sass/leaflet_map_interactions.scss */
.leaflet-pane .leaflet-marker-icon.opacity-50 {
  opacity: 30% !important;
}
/* line 161, ../sass/leaflet_map_interactions.scss */
.leaflet-pane .leaflet-marker-icon.opacity-50:hover {
  opacity: 100% !important;
}

/* line 168, ../sass/leaflet_map_interactions.scss */
.leaflet-control-layers-list label {
  margin-bottom: 4px;
}
/* line 171, ../sass/leaflet_map_interactions.scss */
.leaflet-control-layers-list input[type="radio"] {
  margin-right: 4px;
  height: 1.2rem;
  width: 1.2rem;
}
/* line 175, ../sass/leaflet_map_interactions.scss */
.leaflet-control-layers-list input[type="radio"]:checked {
  background-size: 0.6rem;
}
/* line 179, ../sass/leaflet_map_interactions.scss */
.leaflet-control-layers-list input[type="checkbox"] {
  margin-right: 4px;
  height: 1.2rem;
  width: 1.2rem;
}

@-webkit-keyframes blink {
  50% {
    height: 60px;
    width: 60px;
    border-width: 0;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    margin-top: -20px;
    margin-left: -20px;
  }
  100% {
    height: 80px;
    width: 80px;
    border-width: 0;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    margin-top: -60px;
    margin-left: -60px;
  }
}
@-moz-keyframes blink {
  50% {
    height: 60px;
    width: 60px;
    border-width: 0;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    margin-top: -20px;
    margin-left: -20px;
  }
  100% {
    height: 80px;
    width: 80px;
    border-width: 0;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    margin-top: -60px;
    margin-left: -60px;
  }
}
/* line 227, ../sass/leaflet_map_interactions.scss */
.leaflet-container .dot {
  border-style: solid;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-width: 15px;
  border-radius: 15px;
  -moz-animation: blink 3.5s infinite ease-in-out;
  -webkit-animation: blink 3.5s infinite ease-in-out;
  -webkit-font-smoothing: antialiased;
  height: 30px;
  width: 30px;
  margin-top: -11px;
  margin-left: -11px;
  pointer-events: none;
}

/* line 245, ../sass/leaflet_map_interactions.scss */
.leaflet-container .leaflet-marker-icon.pulsing-marker.negative .dot {
  border-color: orange;
}
/* line 248, ../sass/leaflet_map_interactions.scss */
.leaflet-container .leaflet-marker-icon.pulsing-marker.very_negative .dot {
  border-color: red;
}
/* line 251, ../sass/leaflet_map_interactions.scss */
.leaflet-container .leaflet-marker-icon.pulsing-marker.positive .dot {
  border-color: limegreen;
}
