/* line 2, ../sass/leaflet_map_interactions.scss */
#leaflet-map-view-geo-media-images-page-geoimages-map .leaflet-popup-content {
  width: 600px !important;
  margin: 1px;
}

/* line 8, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper {
  border-radius: 1px;
}
/* line 10, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content {
  width: auto !important;
  position: relative;
  margin: 10px 10px 10px 10px;
  /* Overrides the Olivero olivero_tarantoviva/css/components/text-content.css */
}
/* line 15, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .layout {
  margin-block-end: 0 !important;
}
/* line 18, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .layout--twocol-section > .layout__region {
  flex: 1 0 45% !important;
}
/* line 21, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .field--name-geoimage-caption {
  padding-left: 0.5rem !important;
  font-size: 0.8rem;
  opacity: 70%;
  line-height: 1.2rem;
}
/* line 27, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .field:not(:last-child) {
  margin-bottom: 0.4rem !important;
}
/* line 31, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node__content {
  font-size: 0.8rem;
  padding-bottom: 0.5rem !important;
}
/* line 35, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .field--type-image {
  float: none;
  margin: 0;
}
/* line 39, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage {
  margin: 0;
}
/* line 41, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage img {
  max-width: 600px !important;
}
/* line 44, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage .node__content {
  margin: 0;
  padding-bottom: 0 !important;
}
/* line 48, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage .node__title {
  display: none;
}
/* line 52, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoplace, .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-event {
  margin: 12px 8px 0;
}
/* line 54, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoplace img, .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-event img {
  max-width: 300px !important;
}
/* line 58, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node--type-territorial-report {
  margin: 12px 8px 0;
}
/* line 60, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node--type-territorial-report img {
  max-width: 400px !important;
}
/* line 64, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .field--type-image img, .leaflet-popup-content-wrapper .leaflet-popup-content .field--name-user-picture img {
  margin: 0;
}
/* line 67, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content h2 {
  font-size: 1.4em;
  margin: 0.5em 20px 0.5em 0;
  line-height: 1.5rem;
  font-weight: normal;
  padding-top: 6px;
}
/* line 74, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content h3 {
  font-size: 1.2em;
  margin: 0.5em 20px 0.5em 0;
  line-height: 1.4rem;
  font-weight: normal;
}
/* line 80, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content div {
  margin-bottom: 6px;
}
/* line 83, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content div:last-child {
  margin-bottom: 0;
}
/* line 87, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .text-content,
.leaflet-popup-content-wrapper .leaflet-popup-content .cke_editable {
  font-size: 0.8rem !important;
  line-height: 1.3rem !important;
}
@media only screen and (max-width: 992px) {
  /* line 10, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content {
    min-width: 80px;
    max-width: 400px;
  }
  /* line 96, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .field--type-text-with-summary, .leaflet-popup-content-wrapper .leaflet-popup-content .field--name-body {
    display: none;
  }
  /* line 99, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content h2 {
    font-size: 1.2em;
  }
  /* line 104, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage .node__content {
    margin: 0;
  }
  /* line 107, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage .node__title {
    display: none;
  }
  /* line 110, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage img {
    max-width: 340px !important;
  }
  /* line 114, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoplace, .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-event {
    margin: 8px;
  }
  /* line 116, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoplace img, .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-event img {
    max-width: 300px !important;
  }
  /* line 121, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-territorial-report img {
    max-width: 340px !important;
  }
}
@media only screen and (max-width: 500px) {
  /* line 128, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage {
    max-width: 360px !important;
    margin: 0;
  }
  /* line 133, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoplace img, .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-event img {
    max-width: 220px !important;
  }
  /* line 138, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-territorial-report img {
    max-width: 300px !important;
  }
}
@media only screen and (max-width: 380px) {
  /* line 146, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage img {
    max-width: 240px !important;
  }
  /* line 151, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoplace img, .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-event img {
    max-width: 200px !important;
  }
  /* line 156, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-territorial-report img {
    max-width: 240px !important;
  }
}
/* line 161, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .field--name-field-image-caption {
  font-size: 0.6rem !important;
  color: darkgray;
}
/* line 165, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .field--name-geofield-googlemaps-link {
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
  text-wrap: nowrap;
}
/* line 171, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .field--name-field-exif-creation-date {
  margin: 10px auto;
  float: right;
}

/* line 180, ../sass/leaflet_map_interactions.scss */
.leaflet-container a.leaflet-popup-close-button {
  top: 12px;
}

/* line 185, ../sass/leaflet_map_interactions.scss */
.leaflet-control-geocoder-container input {
  font-size: 1rem;
}

/* line 191, ../sass/leaflet_map_interactions.scss */
.leaflet-pane .leaflet-marker-icon.up-to-the-top {
  z-index: 1000 !important;
}
/* line 194, ../sass/leaflet_map_interactions.scss */
.leaflet-pane .leaflet-marker-icon.opacity-50 {
  opacity: 30% !important;
}
/* line 197, ../sass/leaflet_map_interactions.scss */
.leaflet-pane .leaflet-marker-icon.opacity-50:hover {
  opacity: 100% !important;
}
/* line 200, ../sass/leaflet_map_interactions.scss */
.leaflet-pane .leaflet-marker-icon.opacity-75 {
  opacity: 60% !important;
}
/* line 203, ../sass/leaflet_map_interactions.scss */
.leaflet-pane .leaflet-marker-icon.opacity-75:hover {
  opacity: 100% !important;
}

/* line 210, ../sass/leaflet_map_interactions.scss */
.leaflet-control-layers-list label {
  margin-bottom: 4px;
}
/* line 213, ../sass/leaflet_map_interactions.scss */
.leaflet-control-layers-list input[type="radio"] {
  margin-right: 4px;
  height: 1.2rem;
  width: 1.2rem;
}
/* line 217, ../sass/leaflet_map_interactions.scss */
.leaflet-control-layers-list input[type="radio"]:checked {
  background-size: 0.6rem;
}
/* line 221, ../sass/leaflet_map_interactions.scss */
.leaflet-control-layers-list input[type="checkbox"] {
  margin-right: 4px;
  height: 1.2rem;
  width: 1.2rem;
}

@-webkit-keyframes blink {
  50% {
    height: 60px;
    width: 60px;
    border-width: 0;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    margin-top: -20px;
    margin-left: -20px;
  }
  100% {
    height: 80px;
    width: 80px;
    border-width: 0;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    margin-top: -60px;
    margin-left: -60px;
  }
}
@-moz-keyframes blink {
  50% {
    height: 60px;
    width: 60px;
    border-width: 0;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    margin-top: -20px;
    margin-left: -20px;
  }
  100% {
    height: 80px;
    width: 80px;
    border-width: 0;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    margin-top: -60px;
    margin-left: -60px;
  }
}
/* line 269, ../sass/leaflet_map_interactions.scss */
.leaflet-container .dot {
  border-style: solid;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-width: 15px;
  border-radius: 15px;
  -moz-animation: blink 3.5s infinite ease-in-out;
  -webkit-animation: blink 3.5s infinite ease-in-out;
  -webkit-font-smoothing: antialiased;
  height: 30px;
  width: 30px;
  margin-top: -11px;
  margin-left: -11px;
  pointer-events: none;
}

/* line 286, ../sass/leaflet_map_interactions.scss */
.leaflet-container .leaflet-marker-icon.pulsing-marker {
  z-index: 500 !important;
}
/* line 288, ../sass/leaflet_map_interactions.scss */
.leaflet-container .leaflet-marker-icon.pulsing-marker.negative .dot {
  border-color: orange;
}
/* line 291, ../sass/leaflet_map_interactions.scss */
.leaflet-container .leaflet-marker-icon.pulsing-marker.very_negative .dot {
  border-color: red;
}
/* line 294, ../sass/leaflet_map_interactions.scss */
.leaflet-container .leaflet-marker-icon.pulsing-marker.positive .dot {
  border-color: limegreen;
}

/* line 300, ../sass/leaflet_map_interactions.scss */
.leaflet-tooltip-left {
  margin-left: -20px;
}

/* line 303, ../sass/leaflet_map_interactions.scss */
.leaflet-tooltip-right {
  margin-left: 20px;
}

/* line 308, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster div {
  font-weight: bold;
  color: white;
}
/* line 312, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-small {
  background-color: inherit !important;
}
/* line 313, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-small div {
  color: black;
  font-weight: normal;
}
/* line 318, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-small div {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: #f8c216 !important;
  border: black solid 1px;
}
/* line 324, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-small div span {
  line-height: 22px;
}
/* line 329, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-medium {
  background-color: inherit !important;
}
/* line 331, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-medium div {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(242, 94, 10, 0.71) !important;
  border: black solid 1px;
}
/* line 337, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-medium div span {
  line-height: 40px;
}
/* line 342, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-large {
  background-color: inherit !important;
  z-index: 100 !important;
}
/* line 345, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-large div {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #fc0303 !important;
  opacity: 80%;
  border: black solid 1px;
}
/* line 352, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-large div span {
  line-height: 60px;
}
