.views-ui-display-tab-setting.overridden,
.views-ui-display-tab-bucket.overridden {
  font-style: italic;
  color: red !important;
  font-weight: bold;
}

.paragraphs-subform .field-group-details.geometry-attributes .details-wrapper {
  display: flex;
  justify-content: space-around;
}

a, a.link {
  border-bottom: none
;
}

/*
.node .field--type-image {
  float: none !important;
  .field__item {
    display: inline-block;
  }
}
*/

#views-form-media-media-page-list .views-field-thumbnail__target-id {
  max-width: 60px;
}

.node--view-mode-leaflet-popup {
  .field--name-geoimage-caption {
    padding-left: 0.5rem !important;
    font-size: 0.8rem;
    opacity: 70%;
    line-height: 1.2rem;
  }
  .field:not(:last-child) {
    margin-bottom: 0.4rem !important;
  }
  .node__content {
    padding-bottom: 0.5rem !important;
  }
}

.user-profile-section .block-layout-builder {
  margin-bottom: 10px;
  &.block-field-blockuseruseruser-picture {
    margin-bottom: 20px;
  }
}

.block-layout-builder {
  margin-bottom: 20px;
  &.node-title {
    font-size: 2.6rem;
    font-weight: bold;
    margin: 20px 0;
    line-height: 3rem;
  }
}

// Media Images Captions Styling.
.views-field.views-field-field-image,
.views-field.views-field-field-geoimage,
.field--name-field-media-image {
  .field--type-image:not(:last-child) {
    margin-bottom: 0.4rem;
  }
  .text-content.field--name-field-image-caption {
    font-size: 0.9rem;
    color: slategray;
  }
}

// Media Images View
.media--type-image .wide-image.field--type-image {
  margin-left: unset;
}

// View Filters
.view > * {
  margin-bottom: 1rem !important;
}

.view > .view-header {
  margin-bottom: 0.5rem !important;
}
