@media all and (min-width: 851px) {
  .layout-container {
    max-width: 90% !important;
  }
}

.views-ui-display-tab-setting.overridden,
.views-ui-display-tab-bucket.overridden {
  font-style: italic;
  color: red !important;
  font-weight: bold;
}

.paragraphs-subform .field-group-details.geometry-attributes .details-wrapper {
  display: flex;
  justify-content: space-around;
}

a, a.link {
  border-bottom: none
;
}

/*
.node .field--type-image {
  float: none !important;
  .field__item {
    display: inline-block;
  }
}
*/

#views-form-media-media-page-list .views-field-thumbnail__target-id {
  max-width: 60px;
}

