.leaflet-popup-content-wrapper {
  border-radius: 1px;
  .leaflet-popup-content {
    min-width: 100px;
    margin: 12px 8px;
    h2 {
      font-size: 1.6em;
    }
    h3 {
      font-size: 1.2em;
    }
    div {
      margin-bottom: 6px;
    }
    img {
      width: auto;
      max-width: 300px;
    }
  }
}
