#leaflet-map-view-geo-media-images-page-geoimages-map {
  .leaflet-popup-content {
    width: 600px !important;
    margin: 1px;
  }
}

.leaflet-popup-content-wrapper {
  border-radius: 1px;
  padding: 0;
  .leaflet-popup-content {
    width: auto !important;
    margin: 0;
    position: relative;

    .node__content {
      font-size: 0.8rem;
    }
    .field--type-image {
      float: none; // This is needed to move the Leaflet Popup to show all of it in the map container
      margin: 0;
    }
    .node--type-geoimage {
      width: 600px !important;
      margin: 0;
      .node__content {
        margin: 0;
      }
      .node__title {
        display: none;
      }
    }
    .node--type-geoplace, .node--type-event{
      margin: 12px 8px 0;
      img {
        max-width: 300px !important;
      }
    }
    .node--type-territorial-report {
      margin: 12px 8px 0;
      img {
        max-width: 400px !important;
      }
    }
    .field--type-image img, .field--name-user-picture img {
      margin: 0;
    }
    h2 {
      font-size: 1.4em;
      margin: 0.5em 20px 0.5em 0;
      line-height: 1.5rem;
      font-weight: normal;
      padding-top: 6px
    }
    h3 {
      font-size: 1.2em;
      margin: 0.5em 20px 0.5em 0;
      line-height: 1.4rem;
      font-weight: normal;
    }
    div {
      margin-bottom: 6px;
    }
    div:last-child {
      margin-bottom: 0;
    }
    /* Overrides the Olivero olivero_tarantoviva/css/components/text-content.css */
    .text-content,
    .cke_editable {
      font-size: 0.8rem !important;
      line-height: 1.3rem !important;
    }
    @media only screen and (max-width: 992px) {
      min-width: 80px;
      max-width: 400px;

      .field--type-text-with-summary, .field--name-body {
        display: none;
      }
      h2 {
        font-size: 1.2em
      }

      .node--type-geoimage {
        width: 400px !important;
        .node__content {
          margin: 0;
        }
        .node__title {
          display: none;
        }
      }
      .node--type-geoplace, .node--type-event {
        margin: 8px;
        img {
          max-width: 300px !important;
        }
      }
      .node--type-territorial-report {
        img {
          max-width: 340px !important;
        }
      }
    }

    @media only screen and (max-width: 500px) {
      .node--type-geoimage {
        max-width: 360px !important;
        margin: 0;
      }
      .node--type-geoplace, .node--type-event {
        img {
          max-width: 220px !important;
        }
      }
      .node--type-territorial-report {
        img {
          max-width: 300px !important;
        }
      }
    }

    @media only screen and (max-width: 380px) {
      .node--type-geoimage {
        width: 300px !important;
      }
      .node--type-geoplace, .node--type-event {
        img {
          max-width: 200px !important;
        }
      }
      .node--type-territorial-report {
        img {
          max-width: 300px !important;
        }
      }
    }

  }
}

// Move down the Leaflet Popup Close Button,
// if we want the leaflet-popup-content-wrapper padding top is 0.
.leaflet-container a.leaflet-popup-close-button {
  top: 12px;
}

// Tune the Geocoder Control Input element font size.
.leaflet-control-geocoder-container input {
  font-size: 1rem;
}

// Customise Leaflet Marker Icons
.leaflet-pane .leaflet-marker-icon {
  &.up-to-the-top {
    z-index: 1000 !important;
  }
  &.opacity-50 {
    opacity: 30% !important;
  }
  &.opacity-50:hover {
    opacity: 100% !important;
  }
}

// Fine Style the Control Layer List.
.leaflet-control-layers-list {
  label {
    margin-bottom: 4px;
  }
  input[type="radio"] {
    margin-right: 4px;
    height: 1.2rem;
    width: 1.2rem;
    &:checked {
      background-size: 0.6rem;
    }
  }
  input[type="checkbox"] {
    margin-right: 4px;
    height: 1.2rem;
    width: 1.2rem;
  }
}

// Pulsing Markers
@-webkit-keyframes blink {
  50% {
    height: 60px;
    width: 60px;
    border-width: 0;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    margin-top: -20px;
    margin-left: -20px;
  }
  100% {
    height: 80px;
    width: 80px;
    border-width: 0;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    margin-top: -60px;
    margin-left: -60px;
  }
}
@-moz-keyframes blink {
  50% {
    height: 60px;
    width: 60px;
    border-width: 0;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    margin-top: -20px;
    margin-left: -20px;
  }
  100% {
    height: 80px;
    width: 80px;
    border-width: 0;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    margin-top: -60px;
    margin-left: -60px;
  }
}
.leaflet-container .dot {
  border-style: solid;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-width: 15px;
  border-radius: 15px;
  -moz-animation: blink 3.5s infinite ease-in-out;
  -webkit-animation: blink 3.5s infinite ease-in-out;
  -webkit-font-smoothing: antialiased;
  height: 30px;
  width: 30px;
  margin-top: -11px;
  margin-left: -11px;
  pointer-events: none;
}

.leaflet-container .leaflet-marker-icon.pulsing-marker {
  z-index: 500 !important;
  &.negative .dot {
    border-color: orange;
  }
  &.very_negative .dot {
    border-color: red;
  }
  &.positive .dot {
    border-color: limegreen;
  }
}
