.leaflet-popup-content-wrapper {
  border-radius: 1px;
  .leaflet-popup-content {
    min-width: 100px;
    width: auto!important;
    margin: 12px 8px;
    h2 {
      font-size: 24px;
    }
    div {
      margin-bottom: 6px;
    }
    img {
      width: auto;
      max-width: 300px;
    }
  }
}
