#leaflet-map-view-geo-media-images-page-geoimages-map {
  .leaflet-popup-content {
    width: 600px !important;
    margin: 1px;
  }
}

.leaflet-popup-content-wrapper {
  border-radius: 1px;
  .leaflet-popup-content {
    width: auto !important;
    margin: 0;
    .node__content {
      font-size: 0.8rem;
    }
    .field--type-image {
      float: none; // This is needed to move the Leaflet Popup to show all of it in the map container
      margin: 0;
    }
    .node--type-geoimage {
      width: 600px !important;
      margin: 2px;
      .node__content {
        margin: 0;
      }
      .node__title {
        display: none;
      }
    }
    .node--type-historical-building, .node--type-geoplace {
      width: 300px !important;
      margin: 12px 8px;
    }
    .field--type-image img, .field--name-user-picture img {
      margin: 0;
    }
    h2 {
      font-size: 1.5em;
      margin: 0.5em 0;
      line-height: 1rem;
      font-weight: normal;
    }
    h3 {
      font-size: 1.3em;
      line-height: 1rem;
      font-weight: normal;
    }
    div {
      margin-bottom: 6px;
    }
    div:last-child {
      margin-bottom: 0;
    }
    /* Overrides the Olivero olivero_tarantoviva/css/components/text-content.css */
    .text-content,
    .cke_editable {
      font-size: 0.8rem !important;
      line-height: 1.6rem !important;
    }
    @media only screen and (max-width: 992px) {
      min-width: 80px;
      max-width: 400px;
      position: relative;
      .field--type-text-with-summary, .field--name-body {
        display: none;
      }
      h2 {
        font-size: 1.2em
      }
      img.image-style-map-scaled-cropped-image-600-400 {
        width: 395px;
      }
    }
  }
}

// Customise Leaflet Marker Icons
.leaflet-pane .leaflet-marker-icon {
  &.up-to-the-top {
    z-index: 1000 !important;
  }
  &.opacity-50 {
    opacity: 30% !important;
  }
  &.opacity-50:hover {
    opacity: 100% !important;
  }
}


